.Home{
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-image: url('../Images/fundo.jpg');
    background-size: cover;
    background-position: center;
    max-width: fit-content;
}
.titulo{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.inner{
    display: flex;
}
.item{
    min-height: 200px;
    padding: 10px;
}
.item img{
    width: 100%;
    min-width: 675px;
    height: 90%;
    border-radius: 12px;
    pointer-events: none;
}
.slider{
    cursor: grab;
    max-width: 208.3vh;
    overflow: hidden;
}
.company-numbers {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .company-numbers h2{
    font-size: 50px;
  }
  
  .numbers {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .number-card {
    border: 5px solid white;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    background-color: black;
  }

  .number-card h3{
    font-size: 40px;
  }

  .number-card p{
    font-size: 35px;
  }

.testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .testimonials h2{
    color: white;
    font-size: 40px;
  }
  
  .testimonial {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    color: white;
    background-color: black;
    display: flex;
    align-items: center;
  }
  .testimonial p{
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .testemunho{
    color: white;
  }
  .testimonial-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
  }
  .testimonial-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  .testimonial-content span{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .testimonial-content img{
    border-radius: 50px;
    width: 100px;
    height: 100px;
  }
  
  