#mainNav{
    background-color: rgb(10,10,10);
    color: white;

    padding: 1rem .8rem;
}
#mainNav ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#mainNav li{
    padding: .8rem 1rem;
    border-radius: 12px;
    text-decoration: none;
}
#mainNav h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}
#maiNav li:hover{
    cursor: pointer;
    background-color: rgb(36,36,36);
}
.dragao{
    display: flex;
    align-items: center;
    font-size: 40px;
}